.header{
  padding: 5px 20px;
  background: forestgreen;
}

.title{
  color:aliceblue;
  text-decoration: none;
}


.login, .register{
  float: right;
  text-decoration: none;
  color: aliceblue;
  padding-top: 20px;
}
